lct-size = 50px
lct-color = alpha(#333333, 10%)
lct-width = 10px
lct-duration = 0.375s

@keyframes pie-rotation {
  0% {
    transform rotate(-180deg)
  }
  50% {
    transform rotate(-180deg)
  }
  74.999% {
    transform rotate(0deg)
  }
  75% {
    transform rotate(-180deg)
  }
  99.999% {
    transform rotate(0deg)
  }
}

@keyframes pie-swap {
  0% {
    opacity 0
  }
  50% {
    opacity 0
  }
  75% {
    opacity 1
  }
  100% {
    opacity 1
  }
}

@keyframes mask-swap {
  0% {
    transform rotate(0deg)
  }
  50% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}

.long-click
  position fixed
  transform translateY(-50%) translateX(-50%)
  left 50%
  top 50%
  width lct-size
  height lct-size
  pointer-events none

  .mask
    width 50%
    height 100%
    overflow hidden
    position absolute
    left 50%
    top 0px
    transform-origin 0% 50%
    transform rotate(180deg)
    animation mask-swap steps(2, end) lct-duration

  .spinner
    width 100%
    height 100%
    position absolute
    left 0px
    top 0px
    overflow hidden
    transform-origin 0% 50%
    transform rotate(0deg)
    animation: pie-rotation lct-duration linear
    &:after
      content ' '
      position absolute
      left -100%
      top 0px
      width 200%
      height 100%
      box-sizing border-box
      border-radius 50%
      border solid lct-color lct-width

  .spinner-clone
    width 50%
    height 100%
    position absolute
    left 50%
    top 0px
    overflow hidden
    animation pie-swap steps(1, end) lct-duration
    opacity 1
    &:after
      content ' '
      position absolute
      left -100%
      top 0px
      width 200%
      height 100%
      box-sizing border-box
      border-radius 50%
      border solid lct-color lct-width
