select
option
  font-size 14px

h1, h2, h3, h4, h5, h6
  font-weight 400
  margin 20px auto

strong
  font-weight 500

p
  margin 20px auto
  font-weight 300

h4
  font-size 16px
  line-height 24px

h2
  font-size 32px
  line-height 40px
  margin-bottom 15px

.material-icons
  font-size 18px

* + .material-icons
.material-icons + *
  margin-left 5px

[valign="middle"]
  vertical-align middle

a[href]
  color steelblue
