@import 'variables'
@import 'core'

.modal
  width 100%
  max-width 960px
  margin-left auto
  margin-right auto
  // margin 60px auto
  // border-radius 5px
  padding 40px
  box-sizing border-box
  position relative
  min-height 1200px
  background-color titamota-color-back-dark
  color titamota-color-text-invert
  z-index 12

  @media (min-width titamota-screen-w-7)
    border-radius 5px

  @media (min-width titamota-screen-w-12)
    margin-top 10vh

