@import 'variables'
@import 'core'

.modal
  width 100%
  max-width 960px
  min-width 320px
  margin-left auto
  margin-right auto
  // margin 60px auto
  // border-radius 5px
  padding 20px
  box-sizing border-box
  position relative
  background-color white
  color titamota-color-text
  z-index 12
  text-align center

  @media (min-width titamota-screen-w-7)
    border-radius 5px
    padding 40px

  @media (min-width titamota-screen-w-12)
    // margin-top 10vh

  .close-modal
    position absolute
    right 10px
    top 10px
    width 40px
    height 40px
    line-height 40px
    text-align center
    cursor pointer
    z-index 1
    i.material-icons
      font-size 24px

