@import 'core'

textarea.report
  background-color transparent
  font-family 'PT Sans', monospace
  font-size 16px
  line-height 24px
  margin-top 40px
  margin-bottom 40px
  display block
  padding 20px
  border-radius 5px
  border solid transparent 1px
  width calc(100% + 40px)
  margin-left -20px
  box-sizing border-box
  resize none
  transition height 0.3s
  &:focus
    background-color white
    border solid titamota-color-border 1px
