@import 'variables'

.sidebar


  // Common

  a
    color titamota-color-text-invert
  p
    margin 5px auto
  h4
    font-size 16px
    line-height 24px
    font-weight 300
    margin 50px auto 10px auto
    color titamota-color-text-invert-highlight
    a
      color inherit
    i
      line-height 1
      vertical-align top
      display inline
      position relative
      top 2px
  select
    height 24px
    border 0px
    margin 0px
    width 75%
    cursor pointer
    color lighten(titamota-color-text-invert, 50%)
    background-color lighten(titamota-color-back-dark, 15%)
    &:focus
      background-color titamota-color-back-light
      color titamota-color-text


  // Toggle sidebar

  .toggle-sidebar
    position absolute
    left 0px
    top 0px
    right 0px
    height 150px
    color titamota-color-text-invert
    cursor pointer


  // Forms & settings

  .form
    display flex
    flex-direction column
    .fieldset
      width 100%
    @media (min-width 480px)
      flex-direction row
      .fieldset
        width 50%


  // Profile

  .user-profile
    display flex
    align-items flex-start
    flex-direction column
    position relative
    padding-left 80px
    min-height 60px
    .avatar
      height 60px
      cursor pointer
      opacity 0.75
      position absolute
      left 0px
      top 0px
    .name
      font-size 24px
      margin-top 10px
      color titamota-color-text-invert-highlight
    .logout
      margin-top 5px
      font-size 14px
      color alpha(titamota-color-text-invert, 50%)
