tttc-red = #F15A22
tttc-red-dark = #cc562b


tttc-back-light = ghostwhite
tttc-back-dark = #303030
tttc-back-gray = #ececec

tttc-text = #333333
tttc-text-muted = silver
tttc-text-invert = darkgray
tttc-text-invert-highlight = whitesmoke

tttc-border = gainsboro
tttc-line = alpha(gainsboro, 75%)

tttc-jan = #4fc3f7
tttc-feb = #5c6bc0
tttc-mar = #4db6ac
tttc-apr = #aed581
tttc-may = #dce775
tttc-jun = #f3e352
tttc-jul = #ffb74d
tttc-aug = #ff7043
tttc-sep = #f06292
tttc-oct = #ba68c8
tttc-nov = #a1887f
tttc-dec = #b0bec5
