titamota-color-red = #F15A22
titamota-color-red-dark = #cc562b


titamota-color-back-light = ghostwhite
titamota-color-back-dark = #303030
titamota-color-back-gray = #ececec

titamota-color-text = #333333
titamota-color-text-muted = silver
titamota-color-text-invert = darkgray
titamota-color-text-invert-highlight = whitesmoke

titamota-color-border = gainsboro
titamota-color-line = alpha(gainsboro, 75%)

titamota-color-jan = #4fc3f7
titamota-color-feb = #5c6bc0
titamota-color-mar = #4db6ac
titamota-color-apr = #aed581
titamota-color-may = #dce775
titamota-color-jun = #f3e352
titamota-color-jul = #ffb74d
titamota-color-aug = #ff7043
titamota-color-sep = #f06292
titamota-color-oct = #ba68c8
titamota-color-nov = #a1887f
titamota-color-dec = #b0bec5
