//
// Colors
//

titamota-color-red = #F15A22
titamota-color-red-dark = #cc562b

titamota-color-back-light = ghostwhite
titamota-color-back-light-darker = whitesmoke
titamota-color-back-dark = #303030
titamota-color-back-dark-lighter = lighten(titamota-color-back-dark, 10%)
titamota-color-back-gray = #ececec

titamota-color-text = #333333
titamota-color-text-muted = silver
titamota-color-text-invert = darkgray
titamota-color-text-invert-highlight = whitesmoke

titamota-color-border = gainsboro
titamota-color-border-invert = #555555
titamota-color-line = alpha(gainsboro, 75%)

titamota-color-jan = #4fc3f7
titamota-color-feb = #5c6bc0
titamota-color-mar = #4db6ac
titamota-color-apr = #aed581
titamota-color-may = #dce775
titamota-color-jun = #f3e352
titamota-color-jul = #ffb74d
titamota-color-aug = #ff7043
titamota-color-sep = #f06292
titamota-color-oct = #ba68c8
titamota-color-nov = #a1887f
titamota-color-dec = #b0bec5

//
// Responsive breakpoints
//

titamota-screen-w-3 = 320px
titamota-screen-w-4 = 480px
titamota-screen-w-6 = 600px
titamota-screen-w-7 = 768px
titamota-screen-w-8 = 800px
titamota-screen-w-9 = 960px
titamota-screen-w-10 = 1024px
titamota-screen-w-12 = 1280px
titamota-screen-w-13 = 1366px
titamota-screen-w-14 = 1440px
titamota-screen-w-16 = 1600px

titamota-screen-h-4 = 480px
titamota-screen-h-6 = 600px
titamota-screen-h-7 = 768px
titamota-screen-h-8 = 800px
titamota-screen-h-9 = 960px
titamota-screen-h-10 = 1080px

titamota-tablet-w = titamota-screen-w-7
titamota-desktop-w = titamota-screen-w-12

//
// Other
//

titamota-view-margin = 60px
